<div>

  <header class="pageHeader">
    <h3><i class="fa fa-shopping-cart fa-lg page-caption" aria-hidden="true"></i>&nbsp;Orders</h3>
  </header>

  <div>

    <kendo-grid [data]="entities">
      <kendo-grid-column title="No" field="orderno" width="80"></kendo-grid-column>
      <kendo-grid-column title="PO No" field="pono"></kendo-grid-column>
      <kendo-grid-column title="Order Date" field="date" width="140" filter="date" >
        <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.date | date: 'MM/dd/yyyy'}}</ng-template>
      </kendo-grid-column>
      <kendo-grid-column title="PO Date" field="po_date" width="140" filter="date" >
        <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.po_date | date: 'MM/dd/yyyy'}}</ng-template>
      </kendo-grid-column>
      <kendo-grid-column title="Mark" field="mark"></kendo-grid-column>
      <kendo-grid-column title="Status" field="status" width="80" [headerStyle]="{'text-align': 'center'}" [style]="{'text-align': 'center'}"></kendo-grid-column>
    </kendo-grid>

  </div>

</div>
